
.icon-mail:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */